<%- include('head') %>
    <title><%= title %></title>
    <link rel="stylesheet" href="/Styles/administrator.css">
</head>
<body>
    <%- include('navbar') %>
    <main>
        <div class="container">
            <h1><%= message %></h1>
            <p>Subscribe now to enjoy premium content!</p>
            <a href="/update-subscription" class="btn">Upgrade Subscription</a>
            <a href="/" class="btn">Go Back to Home</a>
          </div>
    </main>
    <%- include('footer') %>